Flask
Flask-WTF
Flask-Cors
Flask-Login
Flask-Bcrypt
Flask-Limiter
Flask-Caching
Flask-SQLAlchemy
black
pydantic
gunicorn
python-dotenv
deepface
doctr
python-doctr
tensorflow==2.15
# keras
opencv-python
retina-face
tf-keras
tf2onnx